*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/deploymentTargetSelector.xml
.DS_Store
/build
/app/build/
/captures
.externalNativeBuild
.cxx
local.properties
.android/
.gradle-user/
.kotlin/
app/release/
*.apk
*.aab
tmp_assets/
tmp_screen.png
mine_fixed.xml
mine_page.xml
post_login.xml
window_dump.xml
window_dump2.xml
build.log
